.about-page {
    margin-block-start: 3.5rem;
    h3:first-of-type {
        font-size: 5rem;
        text-shadow: 2px 2px rgb(248, 115, 115), 2px -2px blue, -6px 0px green, -20px 20px yellow, -12px 3px cyan, 25px -7px purple;
        position: absolute;
        top: 200px;
        left: 300px;
        font-family: 'Oswald';
        opacity: 0;
        animation: slideIn 1s;
    }
    h3:nth-of-type(2) {
        font-size: 5rem;
        text-shadow: 2px 2px rgb(248, 115, 115), 2px -2px blue, -6px 0px green, -20px 20px yellow, -12px 3px cyan, 25px -7px purple;
        position: absolute;
        top: 300px;
        opacity: 0;
        left: 300px;
        font-family: 'Oswald';
        animation: slideIn 1s;
    }
    & .publish {
        display: none;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    25% {
        transform: translateX(10%);
        opacity: .25;
    }
    50% {
        transform: translateX(20%);
        opacity: .5;
    }
    75% {
        transform: translateX(35%);
        opacity: .75;
    }
    100% {
        transform: translateX(40%);
        opacity: 1;
    }
}