.editor-container {
    min-height: calc(100vh - 3.5rem);
    margin-block-start: 3.5rem;
    .editor {
        min-height: calc(100vh - 3.5rem);
    }
    & .publish {
        background-color: $clr1;
        border-radius: .25rem;
        font-size: 1rem;
        height: 2.5rem;
        margin: 0 .5rem;
        color: white
    }
}