.home-page {
    margin-top: 3.5rem;
    .hero {
        background: url(~@/assets/imgs/hero-temp.jpg) no-repeat center center / cover fixed;
        height: calc(100vh - 3.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-container {
        font-family: 'Nunito Sans', sans-serif;
    }
    .tc-header {
        text-shadow: 1px -1px 5px #000000;
        color: #ffffff;
        font-size: 5rem;
        width: 60rem;
        text-align: center;
        cursor: default;
        line-height: 5rem;
    }
   
    & .publish {
        display: none;
    }
}

.responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 600px;
    }
    h3 {
        font-family: advent pro;
        font-size: 3rem;
        color: $clr1;
    }
}

.easy-to-use {
    display: flex;
    justify-content: center;
    align-items: center;
    
            img{
                width: 600px;
            }
            h3{
                font-family: advent pro;
                font-size: 3rem;
                color: $clr1;
            }

}


