.element-picker-container {
    h4 {
        background-color: $clr2;
        text-align: center;
        font-weight: bold;
        padding: .75rem 0;
        font-size: 1rem;
        border-bottom: 1px solid $clr5;
        font-family: 'Nunito Sans', sans-serif;
        cursor: default;
        margin-block-end: 1rem;
    }
    .element-picker {
        padding: 0 .25rem;
        height: 100%;
        position: relative;
        .element-name {
            cursor: pointer;
            font-family: 'Nunito Sans', sans-serif;
            width: 5.5833rem;
            height: 4rem;
            text-transform: capitalize;
            box-shadow: 0px 0px 6px rgba(#000, .26);
            margin: .5rem;
            font-size: 1rem;
            background-color: $clr6;
            color: $clr3;
            transition: .3s;
            &:first-child {
                width: 17.5rem;
                height: 4rem;
            }
            &:hover {
                background-color: lighten($clr6, 1);
            }
        }
        .element-list {
            height: 100%;
            >* {
                font-family: 'Nunito Sans', sans-serif;
                cursor: pointer;
                &:hover {
                    color: rgb(90, 90, 90);
                }
            }
        }
    }
}