.element-edit-container {
    h2 {
        cursor: default;
        text-align: center;
        line-height: 2;
        font-size: 1rem;
        background-color: $clr6;
        padding: 1rem;
        color: inherit;
        border: 1px solid $clr5;
        box-shadow: 0px 0px 8px rgba(#000, .26);
        border-radius: 5px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: normal;
        margin: 1rem;
    }
    .element-edit {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1rem;
        height: 90vh;
        overflow-y: auto;
        padding-bottom: 5rem;
        @include niceScrollBar(.75rem, lighten($clr3, 35%));
        h3 {
            background-color: $clr2;
            text-align: center;
            padding: .75rem 0;
            font-size: 1rem;
            border-bottom: 1px solid $clr5;
            font-weight: bold;
            font-family: 'Nunito Sans', sans-serif;
            cursor: default;
            margin-block-end: 1rem;
        }
    }
}