.element-dashboard {
    width: 20rem;
    min-height: calc(100vh - 3.5rem);
    transition: all .8s, box-shadow .3s;
    position: fixed;
    z-index: 2;
    background-color: $clr2;
    color: $clr3;
    &.minimized {
        transform: translateX(-100%);
        box-shadow: none;
    }
    .element-header {
        >* {
            padding: 1rem 0;
            background-color: $clr2;
            color: $clr3;
            font-size: 1.25rem;
            font-family: 'Nunito Sans', sans-serif;
            opacity: 1;
            flex: 1;
            border-radius: 0;
            border-bottom: 1px solid $clr5;
            transition: .3s;
            &:first-child {
                border-right: 1px solid $clr4;
            }
            &.selected {
                background-color: $clr1;
                color: $clr2;
                opacity: 1;
            }
        }
    }
    .minimize {
        position: absolute;
        right: -1.75rem;
        top: calc(50vh - 5rem);
        background-color: $clr1;
        border: 1px solid $clr3;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        width: 1.4rem;
        height: 3rem;
        z-index: 3;
        transition: .3s;
        div {
            transition: .9s;
        }
        & div::after {
            font-family: 'Advent Pro';
            content: "<";
        }
        &:hover {
            background-color: lighten($clr1, 5);
        }
        &.minimized {
            div {
                transform: rotate(180deg);
            }
        }
    }
}