.nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    padding: 0 1.5rem;
    background-color: $clr2;
    color: $clr1;
    height: 3.5rem;
    font-size: 1.5rem;
    .logo {
        position: relative;
        cursor: pointer;
        color: inherit;
        font-size: 1.5rem;
        font-family: 'Electrolize', sans-serif;
        h2 {
            color: inherit;
            letter-spacing: -1.5px;
            span {
                font-size: 2.5rem;
            }
        }
    }
    .main-nav {
        height: 100%;
        >* {
            height: 100%;
            padding: 0 1rem;
            font-size: 1.05rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        >*.router-link-exact-active {
            color: $clr1;
        }
    }
}