.edit-site-section {
    .edit-section {
        padding: 0 2rem;
        .img-upload {
            cursor: pointer;
            text-align: center;
            .img-preview {
                border: 1px solid #bbb;
                background-size: contain !important;
                width: 100%;
                // object-fit: contain;
                height: 10rem;
                margin: 0 auto;
            }
            label {
                cursor: pointer;
            }
            input[type="file"] {
                display: none;
            }
        }
        .upload {
            height: 2rem;
            margin: 0 auto;
        }
        .search-image {
            img {
                height: 200px;
            }
        }
    }
}