.edit-site-text {
    .edit-text {
        padding: 0 2rem;
        font-size: 1rem;
        >* {
            margin-block-end: .75rem;
        }
        input {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #bbb;
            padding: 0.75rem;
        }
        .el-slider {
            width: 80%;
        }
        .fonts-n-colors {
            .el-select {
                padding: 0;
                margin: 0;
                width: 85%;
            }
            label {
                position: relative;
                cursor: pointer;
                i {
                    cursor: pointer;
                    position: absolute;
                    right: -39px;
                    top: -4.5px;
                    z-index: 1;
                    font-size: 1.9rem;
                    text-shadow: 1px 1px 2px rgb(194, 194, 194);
                    transition: .3s;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            input[type="color"] {
                opacity: 0;
                border: none;
                color: inherit;
                padding: 0;
                background-color: inherit;
            }
            .el-color-picker {
                >* {
                    outline: none;
                    border: none;
                    padding: 0;
                }
            }
        }
        .align-controls,
        .font-style-controls {
            width: 100%;
            justify-content: center;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                padding: 1.15rem;
                width: 1.75rem;
                height: 1.75rem;
                margin: .25rem .5rem;
                border-radius: 10px;
                background-color: inherit;
                color: $clr3;
                transition: .3s;
                &.selected {
                    background-color: $clr6;
                }
            }
        }
        .align-controls {
            button {
                &:hover {
                    background-color: $clr6;
                    font-weight: bold;
                }
            }
        }
        .font-style-controls {
            button {
                &:hover {
                    font-weight: bold;
                }
            }
        }
        .text-shadow {
            >* {
                width: 100%;
            }
        }
    }
}