.edit-site-image {
    padding: 0 2rem;
    .edit-image {
        text-align: center;
        .img-upload {
            cursor: pointer;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-position: center;
            }
            label {
                cursor: pointer;
            }
            input[type="file"] {
                display: none;
            }
        }
        .upload {
            height: 2rem;
            margin: 0 auto;
        }
        .border-edit {
            .el-slider {
                width: 100%;
            }
        }
    }
}