.site-div {
    z-index: 1;
    .site-text {
        word-break: break-word;
        white-space: pre-wrap;
    }
    .input-container {
        display: flex;
        flex-direction: column;
    }
    .site-form{
        >*{
           margin-bottom: .5rem; 
        }
        input{
            margin-bottom: .5rem;
            border-radius:5px;
            border: 1px solid #2b2b2b;
        }
    }
    .site-video {
        height: 100%;
        .video-btn {
            position: absolute;
        }
    }
}