* {
    box-sizing: border-box;
}

html {
    color: $clr3;
    font-weight: normal;
    line-height: 1.5;
}

body {
    font-weight: normal;
    margin: 0;
    font-family: 'Nunito Sans';
}

span,
label {
    outline: none;
}

.site-workspace *:hover {
    outline: 2px solid $clr1;
    z-index: 1;
}

button {
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

input {
    outline: none;
    padding: 0.5rem;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

textarea {
    outline: none;
    resize: none;
}

::selection {
    background-color: $clr1;
    color: white;
}