.card-photo-above-left {
	position: relative;
	height: 430px;
	padding: 15px;
	.cards-container {
		width: 900px;
		margin: auto;
		.div-behind-pic {
			float: right;
			width: 60%;
			height: 380px;
			padding: 0 30px 0 150px;
			> * {
				display: block;
				margin: 10px 0;
			}
			button {
				margin: 70px 0 0 50px;
			}
		}
		.pic-above-div {
			position: absolute;
			width: 480px;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
.card-photo-above-right {
	height: 430px;
	padding: 15px;
	.cards-container {
		position: relative;
		width: 900px;
		margin: auto;
		.div-behind-pic {
			width: 60%;
			height: 380px;
			padding: 0 150px 0 30px;
			> * {
				display: block;
				margin: 10px 0;
			}
			button {
				margin: 70px 0 0 50px;
			}
		}
		.pic-above-div {
			position: absolute;
			right: 20px;
			top: 0;
			width: 480px;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

.card-video-above-right {
	height: 430px;
	padding: 15px;
	.cards-container {
		position: relative;
		width: 900px;
		margin: auto;
		.div-behind-pic {
			width: 60%;
			height: 380px;
			padding: 0 150px 0 30px;
			> * {
				display: block;
				margin: 10px 0;
			}
			button {
				margin: 70px 0 0 50px;
			}
		}
		.pic-above-div {
			position: absolute;
			right: 20px;
			top: 40px;
			width: 480px;
			height: 300px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
.card-video-above-left {
	position: relative;
	height: 430px;
	padding: 15px;
	.cards-container {
		width: 900px;
		margin: auto;
		.div-behind-pic {
			float: right;
			width: 60%;
			height: 380px;
			padding: 0 30px 0 150px;
			> * {
				display: block;
				margin: 10px 0;
			}
			button {
				margin: 70px 0 0 50px;
			}
		}
		.pic-above-div {
			position: absolute;
			top: 60px;
			width: 480px;
			height: 300px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

.s-cards-container {
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 1rem;
}
.card-div {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	position: relative;
	align-items: center;
	box-shadow: #00000047 0px 0px 10px;

	span {
		position: sticky;
		padding: 0.5rem 0;
	}
}

.fixed-post-card {
	width: 100%;
	display: flex;
	justify-content: space-around;
	.post-card-container {
		object-fit: contain;
		display: flex;
		width: 100%;
		max-width: 1000px;
		height: auto;
		.post-card-text {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 0 20px;
			width: 100%;
			div{
				margin: 20px 0;
			}
			.post-card-text-buttons {
				display: flex;
				justify-content: space-around;
			}
		}
	}
	
}


@media (max-width: 780px) {
    .text-logo-text {
        flex-direction: column;
    }
    .three-pics-section {
        flex-direction: column;
        height: 50vw !important;
	}
	.fixed-post-card{
		height: auto !important;
		>div:not(.element-controls) {
			flex-direction: column !important;
			height: auto;
			>div {
			}
			.post-card-pic{
				height: 40vw;
				order: -1;
			}
		}
	}
    .info-block-section {
        * {
            font-size: 0.7rem !important;
        }
    }
    .text-on-photo {
        height: auto;
        * {
            font-size: 0.8rem !important;
        }
        div {
            align-items: 'center' !important;
        }
	}
	.card-video-above-right, .card-video-above-left , .card-photo-above-left , .card-photo-above-right{
		height: auto;
		padding: 15px;
	.cards-container {
		position: static;
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-direction: column;
		.div-behind-pic {
			width: 100%;
			height: auto;
			padding: 15px;
		}
		.pic-above-div {
			position: static;
			width: 100%;
			min-height: 350px;
		}
	}
	}
}