.text-logo-text {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	div {
		text-align: center;
		flex: 1;
	}
	.logo-text-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			object-fit: contain;
			width: 100%;
			max-width: 250px;
            height: auto;
            margin-bottom: 10px;
		}
	}
}

@media (max-width: 780px) {
	.text-logo-text {
		flex-direction: column;
	}
}
